@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  white-space: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@-webkit-keyframes clockwise-rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clockwise-rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anti-clockwise-rotating {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes anti-clockwise-rotating {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes clockwise-rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes anti-clockwise-rotating {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.container {
  max-width: 1440px;
  padding: 25px 76px;
  margin: auto;
}

.w100 {
  min-width: 100%;
}

.h1__txt {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  color: #111111;
}

.h2__txt {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.35em;
  color: #111111;
}

.h2__txt span {
  font-weight: 500;
}

.normal__txt {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.1em;
  color: #111111;
}

.menu__txt {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.375em;
  text-transform: capitalize;
  color: #111111;
}

.light__txt, .header__search--input input::-webkit-input-placeholder {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.375em;
  color: #999cad;
}

.light__txt, .header__search--input input:-ms-input-placeholder {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.375em;
  color: #999cad;
}

.light__txt, .header__search--input input::-ms-input-placeholder {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.375em;
  color: #999cad;
}

.light__txt, .header__search--input input::placeholder {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.375em;
  color: #999cad;
}

.small__light__txt, .breadcrumb__list--item::after {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  color: #999cad;
}

.btn__txt {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.625em;
  color: #ffffff;
}

.black {
  color: #111111;
}

.green {
  color: #38b349;
}

.red {
  color: #ff374e;
}

.btn__primary {
  background: #0f3043;
  color: #ffffff;
}

.btn__success {
  background: #38b349;
  color: #ffffff;
}

.btn__trans {
  background: transparent;
}

.accent {
  color: #f95659;
}

.header-wrapper {
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 1px 1px 0px #000000 5%;
          box-shadow: 0px 1px 1px 0px #000000 5%;
  height: 87px;
  position: fixed;
  background: #ffffff;
  z-index: 100;
}

.header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search, .header__nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search--select {
  min-width: 150px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0.2rem;
  background-color: #ffffff;
  background-image: url("../images/arrowDown.svg");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
  outline: none;
  text-indent: 25px;
  direction: rtl;
}

.header__search--input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__search--input input {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  border: none;
  outline: none;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: 20px;
  text-indent: 3rem;
}

.header .nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bag,
.header .nav {
  margin-right: 3.25rem;
}

.header__bag, .header__menu {
  cursor: pointer;
}

.header__bag {
  position: relative;
}

.header__bag::after {
  content: "2";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ff374e;
  -webkit-box-shadow: 0px 4px 11px 0px #ff374e;
          box-shadow: 0px 4px 11px 0px #ff374e;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 500;
  -webkit-transform: translate(50%, -25%);
          transform: translate(50%, -25%);
}

.breadcrumb {
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 87px;
}

.breadcrumb__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.breadcrumb__list--item {
  position: relative;
  display: inline;
}

.breadcrumb__list--item::after {
  content: ">";
  display: inline;
}

.breadcrumb__list--item:last-child::after {
  content: none;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product__prev {
  height: 100%;
}

.product__prev--view {
  width: 100%;
}

.product__prev--thumb {
  width: 100%;
}

.product__prev--thumb .thumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.product__prev--thumb .thumb__list--item {
  width: 125px;
  height: 105px;
  border-radius: 20px;
  overflow: hidden;
}

.product__prev--thumb .thumb__list--item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__details--content {
  margin-top: 2.5rem;
}

.product__details--content.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.25rem;
}

.product__details--content.rating .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.product__details--content.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.25rem;
}

.product__details--content .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.25rem;
  margin-top: 1rem;
}

.product__details--content .detail__opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

.product__details--content .detail__opt img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.product__details--content .detail__opt small {
  line-height: 2em;
}

.product__details--content .detail__opt.selected {
  background: #ecf1f4;
}

.product__details--content .detail.shipping {
  gap: 0;
  margin-right: 0;
}

.product__details--content .detail.shipping .detail__opt {
  margin-right: 3.25rem;
}

.product__details--content.storage .detail__opt {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__details--content .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.product__details--content .quantity__btn--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__details--content .quantity__btn--group .quantity--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background: #ecf1f4;
  width: 50px;
  height: 50px;
}

.product__details--content .quantity__btn--group .quantity--btn:first-child {
  border-radius: 50% 0 0 50%;
}

.product__details--content .quantity__btn--group .quantity--btn:last-child {
  border-radius: 0 50% 50% 0;
}

.product__details--content.total {
  margin-top: 0;
}

.product__details--content.total .total--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.product__details--content.total .total--btn--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__details--content.total .total--btn--group .total--btn {
  margin-right: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */