// fonts

$inter: "Inter", sans-serif;

// colors

$primary-color: #0f3043;
$secondary-color: #777777;
$main-typo: #111111;
$secondary-typo: #999cad;
$highlight: #ecf1f4;
$shade: #e1e1e1;
$green: #38b349;
$yellow: #f9c744;
$red: #ff374e;
$accent: #f95659;
$white: #ffffff;

// font sizes

$text-xs: 1em;
$text-sm: 1.2em;
$text-md: 1.4em;
$text-lg: 2em;
$text-xl: 2.4em;
$text-xxl: 3.2em;

// generics

$generic-border: 1px solid #e5e5e5;
$generic-box-shadow: 0px 1px 1px 0px #000000 5%;

@keyframes clockwise-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anti-clockwise-rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
